target/
.leguan/
*.class
.classpath
.project
.idea/
.vscode/
.gradle/
.settings/
userHome/
bin/
build/
out/
.mtj.tmp/
hs_err_pid*
/server/src/main/resources/gradlewrapper/
/ngclient/src/app/api
node_modules/**
/server/src/main/resources/static
/ngclient/package-lock.json
/leguan-language-file/null
*.iml
*.log
server/src/main/resources/leguan.version
leguan-cli/src/main/resources/leguan.version
